
body {
  background-image: url('chmury.jfif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
h1 { border: 8px outset black; 
background-color: rgb(157, 193, 224);}
h2 { border: 6px outset black;
  background-color: rgb(157, 193, 224) }
p { border: 4px outset rgb(0, 0, 0);
  background-color: rgb(157, 193, 224);
  font-size:15px;
  }


  #zolw.jfif{
    width:80px;
    margin:100px 100px 100px;
  }
